
{{#each model.teamRosters as |roster|}}
  <div {{action 'selectPlayer' roster}} class="row{{if roster.selected ' selected'}}{{if roster.player '' ' disable'}}">
    <label>{{roster.positionSymbol}}</label><span>{{if roster.player roster.playerName 'Empty'}}</span>
  </div>
{{/each}}
