
<div {{action 'selectPlayer' 'quarterBack'}} class="row{{if model.roster.quarterBackSelected ' selected'}}{{if model.roster.quarterBack '' ' disable'}}">
  <label>QB</label><span>{{if model.roster.quarterBack model.roster.quarterBack.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'runningBack1'}} class="row {{if model.roster.runningBack1Selected 'selected'}}{{if model.roster.runningBack1 '' ' disable'}}">
  <label>RB</label><span>{{if model.roster.runningBack1 model.roster.runningBack1.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'runningBack2'}} class="row {{if model.roster.runningBack2Selected 'selected'}}{{if model.roster.runningBack2 '' ' disable'}}">
  <label>RB</label><span>{{if model.roster.runningBack2 model.roster.runningBack2.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'wideReceiver1'}} class="row {{if model.roster.wideReceiver1Selected 'selected'}}{{if model.roster.wideReceiver1 '' ' disable'}}">
  <label>WR</label><span>{{if model.roster.wideReceiver1 model.roster.wideReceiver1.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'wideReceiver2'}} class="row {{if model.roster.wideReceiver2Selected 'selected'}}{{if model.roster.wideReceiver2 '' ' disable'}}">
  <label>WR</label><span>{{if model.roster.wideReceiver2 model.roster.wideReceiver2.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'tightEnd'}} class="row {{if model.roster.tightEndSelected 'selected'}}{{if model.roster.tightEnd '' ' disable'}}">
  <label>TE</label><span>{{if model.roster.tightEnd model.roster.tightEnd.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'flex'}} class="row {{if model.roster.flexSelected 'selected'}}{{if model.roster.flex '' ' disable'}}">
  <label>FLEX</label><span>{{if model.roster.flex model.roster.flex.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'kicker'}} class="row {{if model.roster.kickerSelected 'selected'}}{{if model.roster.kicker '' ' disable'}}">
  <label>K</label><span>{{if model.roster.kicker model.roster.kicker.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'defense'}} class="row {{if model.roster.defenseSelected 'selected'}}{{if model.roster.defense '' ' disable'}}">
  <label>DST</label><span>{{if model.roster.defense model.roster.defense.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'bench1'}} class="row {{if model.roster.bench1Selected 'selected'}}{{if model.roster.bench1 '' ' disable'}}">
  <label>Bench</label><span>{{if model.roster.bench1 model.roster.bench1.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'bench2'}} class="row {{if model.roster.bench2Selected 'selected'}}{{if model.roster.bench2 '' ' disable'}}">
  <label>Bench</label><span>{{if model.roster.bench2 model.roster.bench2.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'bench3'}} class="row {{if model.roster.bench3Selected 'selected'}}{{if model.roster.bench3 '' ' disable'}}">
  <label>Bench</label><span>{{if model.roster.bench3 model.roster.bench3.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'bench4'}} class="row {{if model.roster.bench4Selected 'selected'}}{{if model.roster.bench4 '' ' disable'}}">
  <label>Bench</label><span>{{if model.roster.bench4 model.roster.bench4.name 'Empty'}}</span>
</div>

<div {{action 'selectPlayer' 'bench5'}} class="row {{if model.roster.bench5Selected 'selected'}}{{if model.roster.bench5 '' ' disable'}}">
  <label>Bench</label><span>{{if model.roster.bench5 model.roster.bench5.name 'Empty'}}</span>
</div>

{{#if model.roster.bench6}}
  <div {{action 'selectPlayer' 'bench6'}} class="row {{if model.roster.bench6Selected 'selected'}}{{if model.roster.bench6 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench6 model.roster.bench6.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench7}}
  <div {{action 'selectPlayer' 'bench7'}} class="row {{if model.roster.bench7Selected 'selected'}}{{if model.roster.bench7 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench7 model.roster.bench7.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench8}}
  <div {{action 'selectPlayer' 'bench8'}} class="row {{if model.roster.bench8Selected 'selected'}}{{if model.roster.bench8 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench8 model.roster.bench8.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench9}}
  <div {{action 'selectPlayer' 'bench9'}} class="row {{if model.roster.bench9Selected 'selected'}}{{if model.roster.bench9 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench9 model.roster.bench9.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench10}}
  <div {{action 'selectPlayer' 'bench10'}} class="row {{if model.roster.bench10Selected 'selected'}}{{if model.roster.bench10 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench10 model.roster.bench10.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench11}}
  <div {{action 'selectPlayer' 'bench11'}} class="row {{if model.roster.bench11Selected 'selected'}}{{if model.roster.bench11 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench11 model.roster.bench11.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench12}}
  <div {{action 'selectPlayer' 'bench12'}} class="row {{if model.roster.bench12Selected 'selected'}}{{if model.roster.bench12 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench12 model.roster.bench12.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench13}}
  <div {{action 'selectPlayer' 'bench13'}} class="row {{if model.roster.bench13Selected 'selected'}}{{if model.roster.bench13 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench13 model.roster.bench13.name 'Empty'}}</span>
  </div>
{{/if}}

{{#if model.roster.bench14}}
  <div {{action 'selectPlayer' 'bench14'}} class="row {{if model.roster.bench14Selected 'selected'}}{{if model.roster.bench14 '' ' disable'}}">
    <label>Bench</label><span>{{if model.roster.bench14 model.roster.bench14.name 'Empty'}}</span>
  </div>
{{/if}}
