
<div class="title">
  {{#unless disabled}}
    {{#if model.isRequested}}
      <span>You have a trade request from <b>{{model.fromTeam.franchiseName}}</b></span>
      <span>
        <a class="button green" {{action 'acceptTrade' model}}>Accept</a>
        <a class="button red" {{action 'declineTrade' model}}>Decline</a>
      </span>
    {{else}}
      <span>You requested a trade with <b>{{model.toTeam.franchiseName}}</b></span>
      <span>
        <a class="button red" {{action 'declineTrade' model}}>Cancel Request</a>
      </span>
    {{/if}}
  {{else}}
    <span><b>{{model.fromTeam.franchiseName}}</b> requested a trade with <b>{{model.toTeam.franchiseName}}</b></span>
    <span>
      {{#if model.acceptedOn}}
        <div class="accepted">Trade Accepted</div>
      {{else if model.rejectedOn}}
        <div class="rejected">Trade Declined</div>
      {{else}}
        <div class="pending">Trade Pending</div>
      {{/if}}
      <div>{{date-from-now model.submittedOn}}</div>
    </span>
  {{/unless}}
</div>

<div class="body">
  <div>
    <label>Trade:</label>
    {{#if hasFromPlayers}}
      {{#each model.fromPlayerModels as |player|}}
        <div>{{player.position}} {{player.name}}</div>
      {{/each}}
      {{#each model.fromPickModels as |pick|}}
        <div>Round {{pick.roundNumber}} Pick - {{pick.pickNumber}} Overall</div>
      {{/each}}
    {{else}}
      <span>Nothing</span>
    {{/if}}
  </div>
  <div>
    <label>For:</label>
    {{#if hasToPlayers}}
      {{#each model.toPlayerModels as |player|}}
        <div>{{player.position}} {{player.name}}</div>
      {{/each}}
      {{#each model.toPickModels as |pick|}}
        <div>Round {{pick.roundNumber}} Pick {{pick.pickNumber}}</div>
      {{/each}}
    {{else}}
      <span>Nothing</span>
    {{/if}}
  </div>
</div>
