
<div class="v-teams">
	<div>
		<div>
			{{#each model as |team|}}
				<div>
					<div class="title">
						<div>
							<span {{action 'openTeam' team.ownerId}}>{{team.franchiseName}}</span>
							{{#unless team.isCurrentTeam}}
								<a class="button {{if canMakeTrades '' ' disable'}}" {{action 'trade' team}} title="{{tradeTitleString}}">Trade</a>
							{{/unless}}
						</div>
					</div>
						{{roster-list model=team selection=false}}

						{{!picks-list model=team}}
				</div>
			{{/each}}
		</div>
	</div>
</div>

{{#if showTradeDialog}}
	{{dialogs.trade-dialog onClose="cancelTrade" model=currentTeam selectedTeam=tradeTeam isTeamPageTrade=true}}
{{/if}}