
<div class="v-teams">
  <div>
    {{#each model as |team|}}
      <div>
        <div class="title" {{action 'openTeam' team.ownerId}}>
          <div><label>Team Name</label><span>{{team.franchiseName}}</span></div>
        </div>
          {{roster-list model=team}}

  {{!--      <div class="draft-order">
          <div><label>Round 1</label><span>{{team.round1}}</span></div>
          <div><label>Round 2</label><span>{{team.round2}}</span></div>
          <div><label>Round 3</label><span>{{team.round3}}</span></div>
          <div><label>Round 4</label><span>{{team.round4}}</span></div>
          <div><label>Round 5</label><span>{{team.round5}}</span></div>
          <div><label>Round 6</label><span>{{team.round6}}</span></div>
          <div><label>Round 7</label><span>{{team.round7}}</span></div>
          <div><label>Round 8</label><span>{{team.round8}}</span></div>
          <div><label>Round 9</label><span>{{team.round9}}</span></div>
          <div><label>Round 10</label><span>{{team.round10}}</span></div>
          <div><label>Round 11</label><span>{{team.round11}}</span></div>
          <div><label>Round 12</label><span>{{team.round12}}</span></div>
          <div><label>Round 13</label><span>{{team.round13}}</span></div>
          <div><label>Round 14</label><span>{{team.round14}}</span></div>
        </div> --}}
      </div>
    {{/each}}
  </div>
</div>
