
{{#modal-dialog close="closeAction"}}
  <div class="v-trade-dialog">

    {{#if selsectedTeam}}
      <header>Choose players to trade for...</header>
      <div class="roster">
        {{#each players as |player|}}

        {{/each}}
      </div>
      <footer>
        <a class="button blue" {{action 'nextAction'}}>Next</a>
        <a class="button grey" {{action 'CancelSelectedTeam'}}>Back</a>
      </footer>
    {{else if showRoster}}

    {{else if showPicks}}

    {{else}}
      <header>Choose a team to trade with...</header>
      <div class="teams">
        {{#each teams as |team|}}
          <span {{action 'pickTeam' team}}>{{team.franchiseName}}</span>
        {{/each}}
      </div>
      <footer>
        <a class="button grey" {{action 'cencelAction'}}>Cancel</a>
      </footer>
    {{/if}}

  </div>
{{/modal-dialog}}
