
<div class="v-application {{if session.isAuthenticated '' 'no-auth'}}">
  {{#if session.isAuthenticated}}
    <header>
     <span class="logo" {{action 'home'}}><b>busy</b>FFL</span>

     <span>
        <ul>
          <li {{action 'teams'}}>Teams</li>
          <li {{action 'players'}}>Players</li>
         <!-- <li {{!action 'settings'}}>Settings</li> -->
          <li {{action 'logout'}}>Logout</li>
        </ul>
     </span>
    </header>
  {{/if}}

  <div class="main-content">
    {{outlet}}
  </div>
</div>
