
<div class="v-login">
  <header>
    <span class="logo"><b>busy</b>FFL</span>
  </header>

  <div class="error {{if showErrorMessage 'show'}}">{{errorMessage}}</div>

  <div class="login-box">
    <input type="text" placeholder="Username" value="{{username}}" {{action 'authenticate' on='submit'}} />

    <input type="password" placeholder="Password" value="{{passord}}" {{action 'authenticate' on='submit'}} />

    <a class="button blue" {{action 'authenticate'}}>Login</a>
  </div>
</div>
