
<div class="v-players">

  {{#if openRoster}}
    <div class="roster">
      {{#if openPosition}}
          <div {{action 'assign' 'quarterBack'}}><span>QB</span><span>{{team.roster.quarterBack.name}}</span></div>
          <div {{action 'assign' 'runningBack1'}}><span>RB</span><span>{{team.roster.runningBack1.name}}</span></div>
          <div {{action 'assign' 'runningBack2'}}><span>RB</span><span>{{team.roster.runningBack2.name}}</span></div>
          <div {{action 'assign' 'wideReceiver1'}}><span>WR</span><span>{{team.roster.wideReceiver1.name}}</span></div>
          <div {{action 'assign' 'wideReceiver2'}}><span>WR</span><span>{{team.roster.wideReceiver2.name}}</span></div>
          <div {{action 'assign' 'tightEnd'}}><span>TE</span><span>{{team.roster.tightEnd.name}}</span></div>
          <div {{action 'assign' 'flex'}}><span>FLEX</span><span>{{team.roster.flex.name}}</span></div>
          <div {{action 'assign' 'kicker'}}><span>K</span><span>{{team.roster.kicker.name}}</span></div>
          <div {{action 'assign' 'defense'}}><span>DST</span><span>{{team.roster.defense.name}}</span></div>
          <div {{action 'assign' 'bench1'}}><span>Bench</span><span>{{team.roster.bench1.name}}</span></div>
          <div {{action 'assign' 'bench2'}}><span>Bench</span><span>{{team.roster.bench2.name}}</span></div>
          <div {{action 'assign' 'bench3'}}><span>Bench</span><span>{{team.roster.bench3.name}}</span></div>
          <div {{action 'assign' 'bench4'}}><span>Bench</span><span>{{team.roster.bench4.name}}</span></div>
          <div {{action 'assign' 'bench5'}}><span>Bench</span><span>{{team.roster.bench5.name}}</span></div>
      {{else}}
        {{#each model.teams as |team|}}
          <div {{action 'choosePosition' team}}>{{team.name}}</div>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}

  <div class="list qb">
    <header>Quarterbacks</header>
    {{#each model.QB as |player|}}
      <div class="player {{if player.teamId 'rostered'}}" {{action 'assignRoster' player}}>
        <span class="name">{{player.name}}</span>
        <span class="team">{{player.team}}</span>
        <span class="cost">${{player.cost}}</span>
      </div>
    {{/each}}
  </div>

  <div class="list rb">
    <header>Running Backs</header>
    {{#each model.RB as |player|}}
      <div class="player {{if player.teamId 'rostered'}}" {{action 'assignRoster' player}}>
        <span class="name">{{player.name}}</span>
        <span class="team">{{player.team}}</span>
        <span class="cost">${{player.cost}}</span>
      </div>
    {{/each}}
  </div>

  <div class="list wr">
    <header>Wide Receivers</header>
    {{#each model.WR as |player|}}
      <div class="player {{if player.teamId 'rostered'}}" {{action 'assignRoster' player}}>
        <span class="name">{{player.name}}</span>
        <span class="team">{{player.team}}</span>
        <span class="cost">${{player.cost}}</span>
      </div>
    {{/each}}
  </div>

  <div class="list te">
    <header>Tight Ends</header>
    {{#each model.TE as |player|}}
      <div class="player {{if player.teamId 'rostered'}}" {{action 'assignRoster' player}}>
        <span class="name">{{player.name}}</span>
        <span class="team">{{player.team}}</span>
        <span class="cost">${{player.cost}}</span>
      </div>
    {{/each}}
  </div>

  <div class="list kicker">
    <header>Kickers</header>
    {{#each model.K as |player|}}
      <div class="player {{if player.teamId 'rostered'}}" {{action 'assignRoster' player}}>
        <span class="name">{{player.name}}</span>
        <span class="team">{{player.team}}</span>
        <span class="cost">${{player.cost}}</span>
      </div>
    {{/each}}
  </div>

  <div class="list dst">
    <header>Defense/Special Teams</header>
    {{#each model.DST as |player|}}
      <div class="player {{if player.teamId 'rostered'}}" {{action 'assignRoster' player}}>
        <span class="name">{{player.name}}</span>
        <span class="cost">${{player.cost}}</span>
      </div>
    {{/each}}
  </div>
</div>
