
<div class="v-teams">

{{log model}}
  {{#each model as |team|}}
    <div>
      <div class="title">
        <div><label>Team Name</label><span>{{team.name}}</span></div>
      </div>

      <div class="roster">
        <div><label>QB</label><span>{{team.roster.quarterBack.name}}</span></div>
        <div><label>RB</label><span>{{team.roster.runningBack1.name}}</span></div>
        <div><label>RB</label><span>{{team.roster.runningBack2.name}}</span></div>
        <div><label>WR</label><span>{{team.roster.wideReceiver1.name}}</span></div>
        <div><label>WR</label><span>{{team.roster.wideReceiver2.name}}</span></div>
        <div><label>TE</label><span>{{team.roster.tightEnd.name}}</span></div>
        <div><label>FLEX</label><span>{{team.roster.flex.name}}</span></div>
        <div><label>K</label><span>{{team.roster.kicker.name}}</span></div>
        <div><label>DST</label><span>{{team.roster.defense.name}}</span></div>
        <div><label>Bench</label><span>{{team.roster.bench1.name}}</span></div>
        <div><label>Bench</label><span>{{team.roster.bench2.name}}</span></div>
        <div><label>Bench</label><span>{{team.roster.bench3.name}}</span></div>
        <div><label>Bench</label><span>{{team.roster.bench4.name}}</span></div>
        <div><label>Bench</label><span>{{team.roster.bench5.name}}</span></div>
      </div>

      <div class="draft-order">
        <div><label>Round 1</label><span>{{team.round1}}</span></div>
        <div><label>Round 2</label><span>{{team.round2}}</span></div>
        <div><label>Round 3</label><span>{{team.round3}}</span></div>
        <div><label>Round 4</label><span>{{team.round4}}</span></div>
        <div><label>Round 5</label><span>{{team.round5}}</span></div>
        <div><label>Round 6</label><span>{{team.round6}}</span></div>
        <div><label>Round 7</label><span>{{team.round7}}</span></div>
        <div><label>Round 8</label><span>{{team.round8}}</span></div>
        <div><label>Round 9</label><span>{{team.round9}}</span></div>
        <div><label>Round 10</label><span>{{team.round10}}</span></div>
        <div><label>Round 11</label><span>{{team.round11}}</span></div>
        <div><label>Round 12</label><span>{{team.round12}}</span></div>
        <div><label>Round 13</label><span>{{team.round13}}</span></div>
        <div><label>Round 14</label><span>{{team.round14}}</span></div>
      </div>
    </div>
  {{/each}}

</div>
